@media (max-width: 1171px) {
    header {
        padding-inline: 40px;
    }
}

@media (max-width: 1061px) {
    .search_input {
        display: none;
    }

    .search_icon {
        width: 60px;
        height: 60px;
        padding: none;
        background: none;
        box-shadow: none;
    }
}

@media (max-width: 935px) {
    section {
        padding: 64px 40px;
    }

    .section_form {
        padding-inline: 145px;
    }
}