@media (max-width: 730px) {
    section {
        padding: 32px 14px;
    }

    .section_form {
        padding-inline: 50px;
    }
}

@media (max-width: 701px) {
    header {
        padding-inline: 8px;
    }
}

@media (max-width: 601px) {
    .login_button {
        display: none;
    }

    .user_icon {
        display: block;
    }

    .cart_button {
        padding: 8px;
    }
}

@media (max-width: 501px) {
    .section_form {
        width: 100%;
    }

    .input_text,
    .input_email {
        width: 100%;
    }
}